@font-face {
  font-family: "RaisonnePro-Bold";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/fonts/RaisonnePro-Bold.woff) format("woff");
  color: #fff;
}
* {
  font-family: "RaisonnePro-Bold", sans-serif;
}
html,
body {
  /* cursor: none; */
  padding: 0;
  margin: 0;
  background-color: #141821;
  color: #e2e8f0;
}

li {
  font-size: 1.6rem;
  padding: 10px 0;
}
@media screen and (max-width: 500px) {
  li {
    font-size: 1rem;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}
