.main {
  padding: 4rem;
  height: 600px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.main h1 {
  font-size: 4rem;
  line-height: 1.25;
  margin-bottom: 0;
}
.main p {
  font-size: 1.875rem;
}

@media screen and (max-width: 400px) {
  .main {
    padding: 1.5rem;
  }
  .main h1 {
    font-size: 3rem;
  }
}
